<h1>Create a new recipe</h1>
<hr>

<br>
<br>
<br>

<form action="/recipes" method="POST">
  <p>
    Enter the recipe name:
    <input type="text" name="name">
  </p>
  <p>
    Enter the ingredients:
    <input type="text" name="ingredients">
  </p>
  <p>
    Enter the cooking:
    <input type="text" name="cook_time">
  </p>

  <input type="submit" value="Submit"/>

</form>

<br>
<a href="/">Go back to all the recipes</a>
